{% extends 'base.html' %}
{% load static %}
{% block content %}
    <style>
    @import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@400;600&display=swap');
      .calender,.highlight{
        font-family: 'Noto Serif KR', serif;
        font-size: 30px;
      }
    </style>
<link rel="stylesheet" href="{% static 'css/home.css?we' %}">
<style>
    html, body {
    height:100%; overflow:hidden
    }
    th, td {
        text-align: center;
    }
</style>
<div class= "calender" style="width:40%; height:50%; float:left; margin-top:7%; margin-left:5%; margin-right:5%;">
        <table class="table">
        <thead>
        <tr class="thead-dark">
            <th colspan="7">오늘의 경기</th>
        </tr>
        </thead>
         <tbody>
        {% for calendar in matches %}
                {% if calendar.state_game == "종료" %}
                    <tr>
                        <td width="80px"><img src="{% get_static_prefix %}img/{{calendar.away}}.PNG" style="width:100%;"></td>
                        <td>{{ calendar.away }}</td>
                        <td>{{ calendar.away_score }}</td>
                        <td>{{ calendar.state_game }}</td>
                        <td>{{ calendar.home_score }}</td>
                        <td>{{ calendar.home }}</td>
                        <td width="80px"><img src="{% get_static_prefix %}img/{{calendar.home}}.PNG" style="width:100%;"></td>
                    </tr>
                {% else %}
                    <tr>
                    <tr>
                        <td width="80px"><img src="{% get_static_prefix %}img/{{calendar.away}}.PNG" style="width:100%;"></td>
                        <td>{{ calendar.away }}</td>
                        <td>VS<br/>{{ calendar.home_time }}<br/>{{ calendar.stadium }}</td>
                        <td>{{ calendar.home }}</td>
                        <td width="80px"><img src="{% get_static_prefix %}img/{{calendar.home}}.PNG" style="width:100%;"></td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
        </table>
        </div>
        <div class= "highlight" style="width:40%; height:50%;  float:left; margin-top:7%;">
        <h1>하이라이트</h1>
            <img src="{% get_static_prefix %}img/highlight/전체{{date}}.PNG">
        </div>
{% endblock %}