<!--상속-->
{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    @import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@400;600&display=swap');
      * {
        font-family: 'Noto Serif KR', serif;
<!--        font-size: 30px;-->
      }
    progress {
        background: {{ away_team_obj.color }};
    }

    progress::-webkit-progress-bar {
        background: {{ home_team_obj.color }};
    }

    progress::-webkit-progress-value {
        background: {{ away_team_obj.color }};
    }
}

</style>
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title> 승패예측 페이지</title>
    <link rel="stylesheet" href="{% static 'css/predict.css' %}">
<!--            <link href="predict.css" rel="stylesheet" type="text/css">-->
    <!--        <script type="text/javascript" src="winLose.js"></script>-->
</head>
<body>
<div id="winlose">
    <div id = "choice">
        <form method="get" action="" class="form">
            <input type="date" id="gameDate" name="dates">
            <div id="together">
                {% if matches %}
                <div id="sideMenu">
                    <ul>
                        {% for match in matches %}
                        <div>
                            <input type="radio" name="game" value="{{ match.id }}">
                                {{ match.away }} vs {{ match.home }} </input>
                        </div>
                        {% endfor %}
                    </ul>
                    <p> 최근
                        <input type="radio" name="period" value="1">1일
                        <input type="radio" name="period" value="3">3일
                        <input type="radio" name="period" value="7">7일
                        의 분위기를 반영합니다.
                    </p>

                    <input type="submit">
                </div>
            </div>
        </form>
    </div>

    <div id=mainSection>
        <div id="gameDates">
            <div> <h2>{{ game_info.date|slice:"0:4" }}년 {{ game_info.date|slice:"4:6" }}월 {{ game_info.date|slice:"6:8" }}일</h2></div>
            <div id = "game">
                <div id="awayTeams">
                    <div><h3>{{ away_team_obj.team_name }}</h3></div>
                    {% if game_info.state_game == '' %}
                    <img class="awayTeam" src="{% get_static_prefix %}img/predict/{{ game_info.away }}{{ game_info.date }}_{{ period }}.PNG" height="300px">
                    {% else %}
                    <img class="awayTeam" src="{% get_static_prefix %}img/highlight/{{ game_info.away }}{{ game_info.date }}.PNG" height="400px">
                    {% endif%}        <!--            {% for away_player in away_players %}-->
                   <h5> {{ away_player.name }} </h5>
        <!--            {% endfor %}-->
                </div>
                <div id="gameInfo">
                    <p> {{ game_info.state_game }} </p>
                    <h4> VS </h4>
                    <p> {{ game_info.stadium }} </p>
                </div>
                <div id="homeTeams">
                    <div><h3>{{ home_team_obj.team_name }}</h3></div>
                    {% if game_info.state_game == '' %}
                    <img class="homeTeam" src="{% get_static_prefix %}img/predict/{{ game_info.home }}{{ game_info.date }}_{{ period }}.PNG" height="300px">
                    {% else %}
                    <img class="homeTeam" src="{% get_static_prefix %}img/highlight/{{ game_info.home }}{{ game_info.date }}.PNG" height="400px">
                    {% endif%}
        <!--            {% for home_player in home_players %}-->
                   <h5> {{ home_player.name }} </h5>
        <!--            {% endfor %}-->
                </div>
            </div>
        </div>
    {% if game_info.state_game == '' %}
    <div id="whoIsWinner">
        <p id="static1"> 전력은 <label id="variable1">{{ stat_upper }}</label> 이(가) 더 우세합니다.</p>
        <p id="static2"> 기세는 <label id="variable2">{{ article_upper }}</label> 이(가) 더 우세합니다.</p>
        {% if both_upper == 'away' %}
        <div style=" margin-left:25%">
        <div style="float:left; margin-right:2%;"> {{ game_info.away }} </div>
        <div class="progressbar" style="float: left;"><progress class="progressbar" value="{{ winning_rate }}" max="100"></progress></div>
        <div style="float:right; margin-right: 43%;">{{ game_info.home }} </div>
        <br>
        <div><p class="static3"> 오늘은 {{ winning_rate }}%의 확률로 <label class="variable3">{{ game_info.away }}</label>의 승리가 예상됩니다!</p></div>
        </div>
        {% else %}
        <div style=" margin-left:25%">
        <div style="float:left; margin-right:2%;"> {{ game_info.away }} </div>
        <div class="progressbar" style="float: left;"><progress class="progressbar" value="{{ opposite_rate }}" max="100"></progress></div>
        <div style="float:right; margin-right: 43%;">{{ game_info.home }} </div>
        </div>
        <br>
        <div><p class="static3"> 오늘은 {{ winning_rate }}%의 확률로 <label class="variable3">{{ game_info.home }}</label>의 승리가 예상됩니다!</p></div>
        {% endif %}
    </div>
    {% else %}
        <br>
        <h1>{{ game_info.away_score }} : {{ game_info.home_score }}</h1>
    {% endif %}
    {% else %}
    <div id="warning">
        <input type="date" id="gameDate1" name="dates">
        <br>
        오늘은 경기가 없습니다.
    </div>
    <input type="submit"></p>
    <p> 최근
        <input type="radio" name="period" value="1">1일
        <input type="radio" name="period" value="3">3일
        <input type="radio" name="period" value="7">7일
        의 분위기를 반영합니다.
    </p>
    {% endif %}
    </div>
</div>
</body>
</html>

<script type="text/javascript">
    function getPeriod(event) {
        document.getElementsByName('period').innerText =
            event.target.value;
    }
</script>
<script>
    cnt = 0;
    stopCheck = false;
    value = document.getElementsByTagName('progress')[0].value;
    setInterval(function(){
        if(stopCheck == false) {
            document.getElementsByTagName('progress')[0].value = cnt;
            cnt++;
            if (cnt > value) {
                stopCheck = true;
            }
        }
    },value);
</script>

{% endblock %}
